.btn {
  @include fontStyle(600, 12px, 16px, 0.09em, uppercase);
  cursor: pointer;

  padding: 12px 20px;
  border: 1px solid $brand-color;
  border-radius: 25px;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.mobile-contacts--btn {
  padding: 12px 37px;
  color: $title-text-color;
}

.about-btn {
  color: $title-text-color;
}

.btn-price {
  display: block;
  margin: 0 auto;

  color: $white-color;
}

.btn-submit {
  padding: 12px 38px;

  display: block;
  margin: 0 auto;

  color: $white-color;
}
